[% page.title = "Perl 5" %]

<center>
<p>
<big>The home of Perl 5 development</big>
</p>
<img src="/simages/sm_camel.gif" border=0>
</center>
<br>
<table class="content_table">
    <tr>
        <td>
            <h2>
                Perl 5 - Production-ready, under active development
            </h2>
            <div class="box">
                <h4>
                    Perl 5
                </h4>
                <p>
                    Perl <a href="[% perl_stats.perl_version_link %]">[% perl_stats.perl_version %]</a> is the current stable version of Perl. Perl 5 is <a href="https://www.ohloh.net/p/perl/commits">actively maintained</a> and <a href="http://perl5.git.perl.org/perl.git">developed (git repository)</a> by a large group of <a href="https://www.ohloh.net/p/perl/contributors">dedicated volunteers</a>. Perl 5 will be developed and maintained for many years to come.
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <h2>Get involved</h2>
            <div class="box">
            <ul>
                <li><a href="http://perldoc.perl.org/perlhack.html"
                       >How to hack on Perl</a></li>
                <li><a href="http://irc.perl.org">irc.perl.org</a> #p5p - IRC chat</li>
                <li><a href="/perl5/lists.html">Mailing lists / discussions</a></li>
                <li><a href="http://perldoc.perl.org/perltodo.html">What needs doing?</a></li>
                <li><a href="http://perldoc.perl.org/perlsec.html#SECURITY-VULNERABILITY-CONTACT-INFORMATION">Report a security concern</a></li>
            </ul>
            </div>

    </td>
    </tr>
    <tr>
        <td>
            <h2>Releases</h2>
            <div class="box">
                <ul>
                    <li>
                      Latest development release
                      is <a href="http://search.cpan.org/dist/perl-5.23.5/"
                            >Perl 5.23.5</a></li>

                    <li>Current major release is 
                      <a href="[% perl_stats.perl_version_link %]"
                         >[% perl_stats.perl_version %]</a></li>

                    <li><a href="http://www.cpan.org/src/README.html"
                           >Previous Releases</a></li>
                </ul>
            </div>
        </td>
    </tr>
    
    
    
</table>

