[%
page.import({
    title    = 'White Camel Awards',
    section  = 'events',
    description
        = 'Perl White Camel',
});
%]

<p>
    <a href="http://www.pm.org"><img border="0" src="/images/perlmongers.gif" align="right" alt="Perl Mongers logo"/></a> In the lands where the camel roams, the white (albino) camel is a rare and revered individual. The White Camel Awards recognize the many significant contributions made by the unsung heros of the Perl community. The efforts of these volunteers collectively make the Perl language and the Perl community better for all of us.
</p>
<p>
    The awards were initiated by <a href="http://www.pm.org/">Perl Mongers</a> and <a href="http://oreilly.com">O'Reilly &amp; Associates</a> at the 1999 Perl Conference. Today, <a href="http://www.perlfoundation.org">The Perl Foundation</a> acknowledges these exceptional individuals annually at the O'Reilly Open Source Conference.
</p>
<p>
    The <a href="2014.html">2015 winners</a> have been <a href="http://blogs.perl.org/users/brian_d_foy/2015/12/the-white-camel-awards-2015-edition.html">announced</a>.
</p>
<p>
    <span>Past Recipients</span>
</p>
<ul>
    <li><a href="2015.html">2014: Chris Prather, Sawyer X, Steffen Müller</a></li>
    <li><a href="2014.html">2014: Amalia Pomian, VM Brasseur, Neil Bowers</a></li>
    <li><a href="2013.html">2013: Thiago Rondon, Wendy and Liz, Fred Moyer</a></li>
    <li><a href="2012.html">2012: Renee Bäcker, Jim Keenan, Breno G. de Oliveira</a></li>
    <li><a href="2011.html">2011: Leo Lapworth, Daisuke Maki, Andrew Shitov</a>         </li>
    <li><a href="2010.html">2010: José Castro (cog), Paul Fenwick, Barbie</a>         </li>
    <li><a href="2009.html">2009: Tim Bunce, Philippe Bruhat, Michael Schwern</a>         </li>
    <li><a href="2008.html">2008: Tatsuhiko Miyagawa, Jacinta Richardson, Gabor Szabo</a> </li>
    <li><a href="2007.html">2007: Allison Randal, Tim O'Reilly, Norbert E. Grüner</a>     </li>
    <li><a href="2006.html">2006: Jay Hannah, Josh McAdams, Randal Schwartz</a>           </li>
    <li><a href="2005.html">2005: Stas Bekman, Eric Cholet, Andy Lester</a>               </li>
    <li><a href="2004.html">2004: Dave Cross, <tt>brian d foy</tt>, Jon Orwant</a>        </li>
    <li><a href="2003.html">2003: Jarkko Hietaniemi, Andreas Koenig, Robert Spier</a>     </li>
    <li><a href="2002.html">2002: Graham Barr, Dr. Tim Maher, Tim Vroom</a>               </li>
    <li><a href="2001.html">2001: David H. Adler, Ask Bjørn Hansen, YAPC::Europe team</a> </li>
    <li><a href="2000.html">2000: Elaine Ashton, Chris Nandor, Nat Torkington</a>         </li>
    <li><a href="1999.html">1999: Tom Christiansen, Kevin Lenzo, Adam Turoff</a>   </li>
</ul>
